.Footer {
    margin-top: auto;
    width: 100%;
    background-color: #f8b195;
     color: rgba(255, 255, 255, 0.85);
    display: flex;
    justify-content: center;
    align-items: center; 
     font-size: 12px;
    padding:  0;  
}

   
  